.App {
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  background-color: wheat;
}
.sideBar {
  border: 2px solid black;
  width: 8%;
  height: 100%;
}
.component {
  border: 2px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 91.5%;
}
html, body, #root, .App, .component {
  height: 100%;
}
a {
  text-decoration: none;
}
/* ------------------------------------------ Calculator -------------------------------------------- */
.result {
  height: 60px;
  background-color: orange;
  width: 100%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
/* result print font */
.result p {
  font-size: 40px;
  margin: 5px;
}
.calculator-main {
  max-width: 400px;
  margin: auto;
}
.button {
  display: block;
  background-color: rgb(201, 192, 192);
}
button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  border: 1px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
