.App {
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  background-color: wheat;
}
.sideBar {
  border: 2px solid black;
  width: 8%;
  height: 100%;
}
.component {
  border: 2px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 91.5%;
}
html, body, #root, .App, .component {
  height: 100%;
}
a {
  text-decoration: none;
  font-weight: bold;
}
.about {
  text-align: center;
  font-size: 2em;
}
.waterski {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 2px solid grey;
  box-shadow: 10px 5px 5px rgb(82, 82, 82);
}
/* ------------------------------------------ Title ------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Chewy');

.title {
text-align: center;
font-family: Chewy;
color: rgb(32, 124, 124);
font-size: 10em;
font-style: italic;
margin: 0 auto;
margin-top: 100px;
width: 1500px;
padding: 20px;  
-webkit-animation: bounce 2s infinite;
text-shadow:
-2px -2px 0 rgb(255, 255, 255),
2px -2px 0 #000,
-2px 2px 0 #000,
2px 2px 0 #000;
}
@-webkit-keyframes bounce {
  0% {transform: scale(1,1) translate(0px, 0px)}
  75%{transform: scale(1,1.5) translate(0px, 60px)}
  100% {transform: scale(1,1) translate(0px, 0px)}
}
/* ------------------------------------------ Calculator -------------------------------------------- */
.result {
  height: 60px;
  background-color: orange;
  width: 100%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
/* result print font */
.result p {
  font-size: 40px;
  margin: 5px;
}
.calculator-main {
  max-width: 400px;
  margin: auto;
}
.button {
  display: block;
  background-color: rgb(201, 192, 192);
}
button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  border: 1px solid black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
/* ---------------------------------------------- Calendar --------------------------------------- */
.vertical-center {
  color: white;
  cursor: default;
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}
.month-display {
  height: 80px;
  background: #2875C7;
}
.row {
  display: flex;
  width: 100%;
}
.arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: background .2s;
  height: 100%;
  display: flex;
  color: white;
}
.arrow:hover {
  background: #2875C7;
}
.calendar {
  position: absolute;
  top: 0;
  left: 25%;
  display: block;
  background: white;
  width: 1000px;
  border: 1px solid black;
  margin: 10px auto;
  box-shadow: 0 0 15px 0 #C0C0C0;
  font-size: 1.3rem;
  text-align: center;
}
.day-names {
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
  color: black;
}
.day {
  flex: 1;
  height: 90px;
  border-left: solid 1px;
  cursor: pointer;
  transition: all .2s;
}
.day.today {
  background: #2875C7;
}
.day.different-month {
  color: #C0C0C0;
}
.day.selected {
  color: white;
  background: rgb(80, 160, 246);
}
.week {
  border-top: solid 1px #CCCCCC;
}
.header {
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
}
/* -------------------------- bouncing ball ---------------------------- */
.wrap {
  bottom: 100px;
  margin-left: -50px;
  position: absolute;
  width: 100px;
}
.red   { left: 25%; }
.green { left: 50%; }
.blue  { left: 75%; }
.ball,
.shadow {
  border-radius: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.ball {
  animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  height: 50px;
  width: 50px;
}
.red .ball   { background: linear-gradient(#e55, rgb(197, 25, 25)); }
.green .ball { background: linear-gradient(#5d5, rgb(43, 179, 43)); }
.blue .ball  { background: linear-gradient(#59e, rgb(81, 117, 180)); }
.shadow {
  animation: shadow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  background: #000;
  bottom: -90px;
  height: 25px;
  width: 75px;
}
.red .ball, 
.red .shadow   { animation-delay: -800ms; }
.green .ball,
.green .shadow { animation-delay: -400ms; }
.blue .ball ,
.blue .shadow  { animation-delay: 0; }
@keyframes ball {
  0% {
    transform: translateY( 0 );
  }
  100% {
    transform: translateY( -350px );
  }
}
@keyframes shadow {
  0% {
    opacity: 0.2;
    transform: scale( 0.75 );
  }
  100% {
    opacity: 0.05;
    transform: scale( 1 );
  }
}
/* ----------------------------------------- About Buttons ---------------------------------------- */
/* .animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
} */
.action-button {
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  /* float: left; */
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}
.blue {
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}
.red {
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}
.green {
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}
.yellow {
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}
/* .action-button:active {
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
} */